<h5>NOTE: this should be general information, not specific to one event</h5><br />

<h4>Please enter the required (*) information</h4>
<hr />
<h5> About the Retreat/Conference </h5><br />
<table>
    <%=content_tag(:tr, content_tag(:td, instructor.label(:type)) << content_tag(:td, instructor.collection_select( :coordinating, Profile::CoordinatorType, :humanize, :humanize)))%>
    <%=content_tag(:tr, content_tag(:td, instructor.label(:frequency)) << content_tag(:td, instructor.text_field( :frequency, :value => "Varies")))%>
    <%=content_tag(:tr, content_tag(:td, instructor.label(:location)) << content_tag(:td, instructor.text_field( :specific_location)))%>
    <%=content_tag(:tr, content_tag(:td, instructor.label(:focus, "Focus of Retreat/Conference (Mediums/Modes of Expression)")) << content_tag(:td, instructor.text_area( :focus, :rows => 3)))%>
    <%=content_tag(:tr, content_tag(:td, instructor.label(:description, "Description of the Retreat/Conference*")) << content_tag(:td, instructor.text_area( :description, :rows => 4)))%>
    <%=content_tag(:tr, content_tag(:td, instructor.label(:testimonials)) << content_tag(:td, instructor.text_area( :testimonials, :rows => 5)))%>
    
</table>
    <%=content_tag(:hr)%>
    <h5>Ways to Contact Me:   </h5>
    <i><p>Select the checkboxes to make the information visible to viewers.</p></i><br />
<table>
    <%=content_tag(:tr, content_tag(:td, "")<< content_tag(:td, instructor.label(:website, @user.website + " (Always visible)")))%>
    <%=content_tag(:tr, content_tag(:td, instructor.check_box(:email)) << content_tag(:td, "E-mail: "+ @user.email, :text_align => 'right'))%>
    
    <%=content_tag(:tr,  content_tag(:td, instructor.check_box(:facebook)) << content_tag(:td, "Facebook: "+@user.facebook)) unless @user.facebook.size == 0%>
    <%=content_tag(:tr, content_tag(:td, instructor.check_box(:twitter)) << content_tag(:td, "Twitter: "+@user.twitter)) unless @user.twitter.size == 0%>
    <%=content_tag(:tr, content_tag(:td, instructor.check_box(:flickr)) << content_tag(:td, "Flickr: ") << content_tag(:td, @user.flickr)) unless @user.flickr.size == 0%>
    <%=content_tag(:tr, content_tag(:td, instructor.check_box(:blog)) << content_tag(:td, "Show RSS feed for "+@user.blog)) unless @user.blog.size == 0 %>
</table>
<table>
    <%=content_tag(:tr, content_tag(:td, instructor.label(:other_links, ("Other Social Media URLs <br />(comma separated)").html_safe)) << content_tag(:td, instructor.text_area( :other_links, :rows => 4)))%>
</table>

    <%=content_tag(:hr)%>


