<script>
  jQuery(document).ready(function(){
    jQuery("#profile_description").keyup(function(){
      jQuery(this).parents("tr").find(".count").html(200 - jQuery(this).val().split(/\b[\s,\.-:;]*/).length + " words left");
			if(jQuery(this).val().split(/\b[\s,\.-:;]*/).length > 200){
				jQuery(this).parents("tr").find(".count").addClass("exceed");
    	}else{
				jQuery(this).parents("tr").find(".count").removeClass("exceed");    	
			}
    });
    jQuery("#profile_testimonials").keyup(function(){
      jQuery(this).parents("tr").find(".count").html(100 - jQuery(this).val().split(/\b[\s,\.-:;]*/).length + " words left");
			if(jQuery(this).val().split(/\b[\s,\.-:;]*/).length > 100){
				jQuery(this).parents("tr").find(".count").addClass("exceed");
    	}else{
				jQuery(this).parents("tr").find(".count").removeClass("exceed");    	
			}
	  });
    jQuery("#profile_focus").keyup(function(){
      jQuery(this).parents("tr").find(".count").html(90 - jQuery(this).val().length + " characters left");
			if(jQuery(this).val().length>90){
				jQuery(this).parents("tr").find(".count").addClass("exceed");
    	}else{
				jQuery(this).parents("tr").find(".count").removeClass("exceed");    	
			}
    });
  });
</script>
<div class="contentlearning-profile clearfix">
  <h1>Edit Profile</h1>
</div>

<%= form_for(@profile, :url=>profiles_path, :html => {:multipart => true}) do |profile| %>
  <% if @profile.errors.any? %>
    <div id="error_notice" class="error_messages">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="contentlearning-profile clearfix ui-widget-content">
    <%=render :partial => 'form_attributes', :locals => {:profile => profile} %>

  <div class="actions">
    <div class='ui-button-container'><p><%= profile.submit :class =>"ui-button" %></p></div>
  </div>
</div>
<% end %>

<%=render :partial => "users/user_admin"%>
