<div class="contentlearning-profile clearfix">
<% if @user.role == User::ROLES[0] %>
  <%= render :partial => 'profiles/instructor_profile' %>
<% else %>
  <%= render :partial => 'profiles/coordinator_profile' %>
<% end %>
   <%= content_tag (:strong, "<p>Testimonials".html_safe) unless (@profile.testimonials == nil || @profile.testimonials.size == 0) %>
      <%= content_tag (:p, @profile.testimonials.html_safe  << "</p>".html_safe) unless (@profile.testimonials == nil || @profile.testimonials.size == 0) %>

    <% unless @offerings.size == 0 %>
      <p><strong>Upcoming Classes:</strong><br />
      <% @offerings.each do |offering| %>
        <%= render :partial => 'offerings/offering_snippet', :locals =>{:offering => offering} %> 
      <% end %>
      </p>
    <% end %>
    <% unless @past_offerings.size == 0 %>
      <p><strong>Past Classes:</strong><br />
      <% @past_offerings.each do |offering| %>
        <%= render :partial => 'offerings/offering_snippet', :locals =>{:offering => offering} %> 
      <% end %>
      </p>
    <% end %>

  <p><strong>Contact Info</strong>:

  <%= content_tag(:br, link_to("Website", url_with_protocol(@user.website), :target => "_blank") ) %>
  <%= content_tag(:br, mail_to( @user.email, "E-mail me")) if ((@profile.email == "1"))  %>
  <%= content_tag(:br, link_to("Facebook", url_with_protocol(@user.facebook), :target => "_blank")) if ((@profile.facebook == "1"))  %>
  <%= content_tag(:br, link_to("Twitter", url_with_protocol(twitter_with_protocol(@user.twitter)), :target => "_blank")) if ((@profile.twitter == "1"))  %>
  <%= content_tag(:br, link_to("Flickr", url_with_protocol(@user.flickr), :target => "_blank")) if ((@profile.flickr == "1"))  %>
  <%= content_tag(:br, other_links_tag(@profile.other_links)) %><br />
  <%= content_tag(:br, "<strong>Blog Feed:</strong>".html_safe) if ((@profile.blog == "1") && (@profile.blog.size != 0))  %>
 <%= content_tag(:p, render(:partial => "profiles/rss_feed")) if ((@profile.blog == "1") && (@profile.blog.size != 0))  %></p>
<div class="clearfix"></div>


            <%=content_tag(:span, link_to(image_tag(@profile.picture1.url(:regular)), @profile.picture1.url, :rel =>"gallery", :class => "pirobox_gall"), :class => 'listingphotos2-3') if @profile.picture1.exists? %> 

      <%=content_tag(:span, link_to(image_tag(@profile.picture2.url(:regular)), @profile.picture2.url, :rel =>"gallery", :class => "pirobox_gall"), :class => 'listingphotos2-3') if @profile.picture2.exists? %> 

<div class="clearfix"></div>
      <%=content_tag(:span, link_to(image_tag(@profile.picture3.url(:regular)), @profile.picture3.url, :rel =>"gallery", :class => "pirobox_gall"), :class => 'listingphotos2-3') if @profile.picture3.exists? %> 

      <%=content_tag(:span, link_to(image_tag(@profile.picture4.url(:regular)), @profile.picture4.url, :rel =>"gallery", :class => "pirobox_gall"), :class => 'listingphotos2-3') if @profile.picture4.exists? %> 
 
    </div>
    
