<%content_for :browse do %>
      <div id="" class="grid_navleft">
        <div class="filter clearfix">
<div id="browse">
<h3><strong>BROWSE</strong></h3>

          <p><%= link_to "by type", types_path%></p>

          <p><%= link_to "by topic", topics_path%></p>

          <p><%= link_to "by location", regions_path%></p>

          <p><%= link_to "by start date", offerings_path %></p>
</div>
          <%= yield :filter_results %>
        </div>
     </div>
<% end %>
