<%content_for :browse do %>
      <div id="" class="grid_navleft">
        <div class=".browse_container clearfix">
<div class="browse_box">
<div class="browse_box_image_container">
<%= image_tag("/images/browse-alone.png")%>
</div>
          <p><%= link_to "by TYPE", types_path%></p>

          <p><%= link_to "by TOPIC", topics_path%></p>

          <p><%= link_to "by LOCATION", regions_path%></p>

          <p><%= link_to "by START DATE", offerings_path %></p>
</div>
          <!--
  <%= yield :filter_results %>
					-->
        </div>

<h5>Add a button to your site!</h5>
 <img src="/images/buttons/sycbutton125-living.png" alt="Living Creatively Button" />
<p>Download the image or copy the code:</p>
<textarea cols="18" rows="4"><a href="http://www.seekyourcourse.com/"> <img src="http://www.seekyourcourse.com/images/buttons/sycbutton125-living.png"></a></textarea>

     </div>
<% end %>
