
  <h2> <%= @offering.title %> </h2>
<div class="clearfix"></div>
        <p><% if @offering.picture_main.exists? then %>

      <span class="right"><%= link_to(image_tag(@offering.picture_main.url(:thumb)), @offering.picture_main.url, :rel =>"gallery", :class => "pirobox_gall")%></span>
    <% end %>

      <strong>Type</strong>:  <%= @offering.type.category %><br />
      <strong>Location</strong>: <%= "#{@offering.specific_location}, #{(@offering.us_state+", ") unless (!@offering.location == 'USA')} #{@offering.location.state}" %><br />
      <strong>Topics</strong>: 
    <%= @offering.topics.map{|k| k.category}.join(', ') %></p>

<% if !@offering.registered_artists.size.zero? || !@offering.unregistered_artists.size.zero? %>
    <p><strong>Instructors</strong>: 
    <% @artists = @offering.registered_artists.map{|k| link_to(k.name, user_path(k))} %>
     <%= @artists.join(", ").html_safe%>
    <% if !@offering.unregistered_artists.size.zero? &&  !@offering.registered_artists.size.zero? %>
      <%= content_tag(:span, ", ")%>
    <%end%>
    <%= @offering.unregistered_artists %></p>

<% end %>



 
