<div class="offering_info">

  <h2> <%= @offering.title %> </h2>
    <% if @offering.picture_main.exists? then %>
      <span class="right"><%= image_tag @offering.picture_main.url(:thumb) %></span>
    <% end %>
  
  <h3>
    <b>Instructor:</b>
    <%= link_to @offering.coordinator.name, user_path(@offering.coordinator)%>
  </h3>
  <p>
    <b>Type:</b>
    <%= @offering.type.category %><br />
    <b>Location:</b>
    <%= "#{@offering.specific_location}, #{@offering.us_state unless @offering.us_state.nil?} #{@offering.location.state}" %><br />
    <b>Topics:</b>
    <%= @offering.topics.map{|k| k.category}.join(', ') %>

  </p>
    
  <p>
    <b>Instructors:</b>
    <% @offering.registered_artists.each do |user| %>
      <%= link_to(user.name, user_path(user)) %>,
    <% end %>
    <%= @offering.unregistered_artists %>
  </p>

  <p>
    <b>Starts:</b>
    <%= @offering.start_date.strftime('%d %h, %Y') %> - 
    <%= distance_of_time_in_words_to_now(@offering.start_date)%><br />
    <b>Ends:</b>
    <%= @offering.end_date.strftime('%d %h, %Y') %><br />
    <b>Registration Begins:</b>
    <%= @offering.registration_begins.strftime('%d %h, %Y') %><br />
   <%unless @offering.registration_deadline.nil? %>
      <b>Registration Deadline:</b>
      <%= @offering.registration_deadline.strftime('%d %h, %Y') %> - 
    <%= distance_of_time_in_words_to_now(@offering.registration_deadline)%>
    <%end%> 
  </p>

  <p>
    <b>Description:</b>
    <%=h @offering.description%>
  </p>
<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>
  <% if @offering.picture_footer_left.exists? then %>
    <%= link_to(image_tag(@offering.picture_footer_left.url(:thumb)), @offering.picture_footer_left.url, :rel =>"prettyPhoto[gal]") %>
  <% end %>
  <% if @offering.picture_footer_right.exists? then %>
    <%= link_to(image_tag(@offering.picture_footer_right.url(:thumb)), @offering.picture_footer_right.url, :rel =>"prettyPhoto[gal]") %>
  <% end %>

  <p>
    <b>Website:</b>
    <%=link_to url_with_protocol(@offering.link), url_with_protocol(@offering.link)%>
  </p>

  <% if current_admin || (current_user == @offering.coordinator) %>
    <%= link_to('Edit Offering', edit_offering_path(@offering))%>
  <% end %>
</div>
