  <h2><%= @offering.title %></h2>
	  <h5>Instructor: 
    <%= link_to @offering.coordinator.name, user_path(@offering.coordinator)%></h5>
    <p>    <% if @offering.picture_main.exists? then %>
      <span class="right"><%= link_to(image_tag(@offering.picture_main.url(:thumb)), @offering.picture_main.url, :rel =>"gallery", :class => "pirobox_gall")%></span>
    <% end %>
    <strong>Type</strong>: <%= @offering.type.category %> <br />
      <strong>Location</strong>: Online<br />
      <strong>Topics</strong>: <%= @offering.topics.map{|k| k.category}.join(', ') %></p>
