<script>
  jQuery(document).ready(function(){
    
    jQuery("#us_states").hide();
    jQuery("#date select").hide();    
    jQuery(".date").datepicker({minDate: new Date()});
    
    jQuery("#start_date").change(function () {
        jQuery(this).next().val(parseInt(jQuery(this).val().split("/")[2]));
        jQuery(this).next().next().val(parseInt(jQuery(this).val().split("/")[0]));
        jQuery(this).next().next().next().val(parseInt(jQuery(this).val().split("/")[1]));
        jQuery("#registration_begins").datepicker("option", "maxDate", new Date(jQuery(this).val()));
        jQuery("#registration_deadline").datepicker("option", "maxDate", new Date(jQuery(this).val()));
        jQuery("#end_date").datepicker("option", "minDate", new Date(jQuery(this).val()));
    });
    jQuery("#registration_begins").change(function () {
        jQuery(this).next().val(parseInt(jQuery(this).val().split("/")[2]));
        jQuery(this).next().next().val(parseInt(jQuery(this).val().split("/")[0]));
        jQuery(this).next().next().next().val(parseInt(jQuery(this).val().split("/")[1]));
        jQuery("#registration_deadline").datepicker("option", "minDate", new Date(jQuery(this).val()));
        jQuery("#registration_deadline").datepicker("option", "maxDate", new Date(jQuery("#start_date").val()));
    });
    jQuery("#end_date").change(function () {
        jQuery(this).next().val(parseInt(jQuery(this).val().split("/")[2]));
        jQuery(this).next().next().val(parseInt(jQuery(this).val().split("/")[0]));
        jQuery(this).next().next().next().val(parseInt(jQuery(this).val().split("/")[1]));
    });         
    jQuery("#registration_deadline").change(function () {
        jQuery(this).next().val(parseInt(jQuery(this).val().split("/")[2]));
        jQuery(this).next().next().val(parseInt(jQuery(this).val().split("/")[0]));
        jQuery(this).next().next().next().val(parseInt(jQuery(this).val().split("/")[1]));
    })

    jQuery("#type").find("select").change(function() {
      if(jQuery(this).find("option:selected").text() == "E-course"){
        jQuery("#country").find("select").val(1);
      }
    });

    jQuery("#country").find("select").change(function() {
      if(jQuery(this).find("option:selected").text() == "USA"){
        jQuery("#us_states").show();
      } else {
        jQuery("#us_states").hide();
      }
    });
  });
</script>
<%= form_for(@offering, :html => {:multipart => true}) do |f| %>
  <% if @offering.errors.any? %>
    <div id="flash_error">
      <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>
      <ul>
        <% @offering.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_admin%>
    <div class="field">
      <%= f.label :validated %><br />
      <%= f.check_box :validated %>
    </div>
    <div class="field">
      <%= f.label :note %><br />
      <%= f.text_area :note %>
    </div>
<hr />
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
    <div>
      <label for="offering_plan">Plan*</label><br />
      <%= collection_select(:offering, :plan_id, @plans, :id, :name)%>
    </div>
    <div class="field" id="type">
      <%= f.label "Type*" %><br />
      <%= collection_select(:offering, :type_id, @types, :id, :category) %>
    </div>
    <div>
      <label for="offering_Topic/Medium">Topic/Medium*</label><br />
      <% @topics.each do |topic| -%>
        <%= check_box_tag "offering[topic_ids][]", topic.id, @offering.topics.include?(topic) -%><%= topic.category -%>
      <% end -%>
    </div>
<hr />
  <div class="field">
    <%= f.label :picture_main, "Main Picture" %><br />
    <%= f.file_field :picture_main %>
  </div>
  <div class="field">
    <%= f.label :picture_footer_left, "Left Footer Picture" %><br />
    <%= f.file_field :picture_footer_left %>
  </div>
  <div class="field">
    <%= f.label :picture_footer_right, "Right Footer Picture" %><br />
    <%= f.file_field :picture_footer_right %>
  </div>
<hr />
    <div class="field" id="country">
      <label for="offering_state">Country</label><br />
      <%= grouped_collection_select(:offering, :location_id, @regions, :locations, :name, :id, :state, :prompt => true)%>
    </div>
    <div id="us_states">
      <%= f.label :us_state %><br />
  <%= f.select( :us_state, [ 	
	['Select a State', 'None'],
	['Alabama', 'AL'], 
	['Alaska', 'AK'],
	['Arizona', 'AZ'],
	['Arkansas', 'AR'], 
	['California', 'CA'], 
	['Colorado', 'CO'], 
	['Connecticut', 'CT'], 
	['Delaware', 'DE'], 
	['District Of Columbia', 'DC'], 
	['Florida', 'FL'],
	['Georgia', 'GA'],
	['Hawaii', 'HI'], 
	['Idaho', 'ID'], 
	['Illinois', 'IL'], 
	['Indiana', 'IN'], 
	['Iowa', 'IA'], 
	['Kansas', 'KS'], 
	['Kentucky', 'KY'], 
	['Louisiana', 'LA'], 
	['Maine', 'ME'], 
	['Maryland', 'MD'], 
	['Massachusetts', 'MA'], 
	['Michigan', 'MI'], 
	['Minnesota', 'MN'],
	['Mississippi', 'MS'], 
	['Missouri', 'MO'], 
	['Montana', 'MT'], 
	['Nebraska', 'NE'], 
	['Nevada', 'NV'], 
	['New Hampshire', 'NH'], 
	['New Jersey', 'NJ'], 
	['New Mexico', 'NM'], 
	['New York', 'NY'], 
	['North Carolina', 'NC'], 
	['North Dakota', 'ND'], 
	['Ohio', 'OH'], 
	['Oklahoma', 'OK'], 
	['Oregon', 'OR'], 
	['Pennsylvania', 'PA'], 
	['Rhode Island', 'RI'], 
	['South Carolina', 'SC'], 
	['South Dakota', 'SD'], 
	['Tennessee', 'TN'], 
	['Texas', 'TX'], 
	['Utah', 'UT'], 
	['Vermont', 'VT'], 
	['Virginia', 'VA'], 
	['Washington', 'WA'], 
	['West Virginia', 'WV'], 
	['Wisconsin', 'WI'], 
	['Wyoming', 'WY']]) %>
    </div>
    <div class="field">
      <%= f.label :specific_location %><br />
      <%= f.text_field :specific_location %>
    </div>
<hr />
 <div id="date">
  <div class="field">
    <%= f.label "Registration Begins*" %><br />
    <input type='text' id='registration_begins' class='date' value="<%=@offering.registration_begins.strftime('%Y-%h-%d') unless @offering.registration_begins.nil?%>"/>
    <%= f.date_select :registration_begins, :class => "date" %>
  </div>
  <div class="field">
    <%= f.label :registration_deadline %><br />
    <input type='text' id='registration_deadline' class='date' value="<%=@offering.registration_deadline.strftime('%Y-%h-%d') unless @offering.registration_deadline.nil? %>"/>
    <%= f.date_select :registration_deadline, :include_blank => true, :class => "date" %>
  </div>
  <div class="field">
    <%= f.label "Start Date*" %><br />
    <input type='text' id='start_date' class='date' value="<%=@offering.start_date.strftime('%Y-%h-%d') unless @offering.start_date.nil?%>"/>
    <%= f.date_select :start_date, :class => "date" %>
  </div>
  <div class="field">
    <%= f.label "End Date*" %><br />
    <input type='text' id='end_date' class='date' value="<%=@offering.end_date.strftime('%Y-%h-%d')  unless @offering.end_date.nil? %>"/>
    <%= f.date_select :end_date, :class => "date" %>
  </div>
</div>

<hr />
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 10 %>
  </div>
<hr />
  <div>
    <%= f.label :registered_artist_ids, "Registered contributing instructors" %><br /><i>Hold control to select multiple artists</i><br />

    <%= f.collection_select :registered_artist_ids,
        @artists, :id, :name, {},
        :multiple => true,
        :size => 10,
        :name => 'offering[registered_artist_ids][]' %>
  </div>
  <div class="field">
    <%= f.label :unregistered_artists, "Unregistered contributing instructors (Comma separated)" %><br />
    <%= f.text_area :unregistered_artists %>
  </div>

  <div class="actions">
    <%if params[:action] = "edit"%>
      <%= f.submit :confirm => "By editing this offering it will become pending until administrator revision" %>
    <% else%>
      <%=f.submit%>
    <%end%>
  </div>

<% end %>

<%= render :partial => 'users/user_admin' %>

