
<%= form_for(@offering, :html => {:multipart => true}) do |f| %>
  <% if @offering.errors.any? %>
    <div id="flash_error">
      <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>
      <ul>
        <% @offering.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_admin%>
    <div class="field">
      <%= f.label :validated %><br />
      <%= f.check_box :validated %>
    </div>
    <div class="field">
      <%= f.label :note %><br />
      <%= f.text_area :note %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
    <div>
      <label for="offering_plan">Plan*</label><br />
      <%= collection_select(:offering, :plan_id, @plans, :id, :name)%>
    </div>
    <div class="field">
      <%= f.label "Type*" %><br />
      <%= collection_select(:offering, :type_id, @types, :id, :category) %>
    </div>
    <div>
      <label for="offering_Topic/Medium">Topic/Medium*</label><br />
      <% @topics.each do |topic| -%>
        <%= check_box_tag "offering[topic_ids][]", topic.id, @offering.topics.include?(topic) -%><%= topic.category -%>
      <% end -%>
    </div>
  <div class="field">
    <%= f.label :picture_main %><br />
    <%= f.file_field :picture_main %>
  </div>
  <div class="field">
    <%= f.label :picture_footer_left %><br />
    <%= f.file_field :picture_footer_left %>
  </div>
  <div class="field">
    <%= f.label :picture_footer_right %><br />
    <%= f.file_field :picture_footer_right %>
  </div>

    <div class="field">
      <label for="offering_state">Country</label><br />
      <%= grouped_collection_select(:offering, :location_id, @regions, :locations, :name, :id, :state, :prompt => true)%>
    </div>
    <div class="field">
      <%= f.label :specific_location %><br />
      <%= f.text_field :specific_location %>
    </div>

    <div class="field">
      <%= f.label :registration_begins %><br />
      <%= f.date_select :registration_begins %>
    </div>
    <div class="field">
      <%= f.label :registration_deadline %><br />
      <%= f.date_select :registration_deadline %>
    </div>
    <div class="field">
      <%= f.label :start_date %><br />
      <%= f.date_select :start_date %>
    </div>
    <div class="field">
      <%= f.label :end_date %><br />
      <%= f.date_select :end_date %>
    </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :registered_artist_ids %><br />

    <div id="registered_artists" style="height:40px;width:600px;overflow:auto;">
      <% @artists.each do |artist| -%>
        <%= check_box_tag "offering[registered_artist_ids][]", artist.id, @offering.registered_artists.include?(artist) -%><%= artist.name-%><br /> 
      <% end -%>
    </div>
  </div>
  <div class="field">
    <%= f.label :unregistered_artists %><br />
    <%= f.text_area :unregistered_artists %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
