<script>
  jQuery(document).ready(function(){
    
    jQuery("#us_states").hide();
    jQuery(".date_select").hide();    
    jQuery(".date").datepicker({minDate: new Date()});
    if(jQuery("#type").find("option:selected").text() == "eCourse"){
      jQuery("#specific_location").hide();
    }
    jQuery("#offering_description").keyup(function(){
      jQuery(this).parents("tr").find(".count").html(jQuery(this).val().split(/\b[\s,\.-:;]*/).length + " out of " + + (-25*jQuery("#offering_plan_id").val() + 225*jQuery("#offering_plan_id").val() - 150*jQuery("#offering_plan_id").val()) + " words");
    });

    jQuery("#start_date").change(function () {
        jQuery(this).parents("td").find(".date_select select:first").val(parseInt(jQuery(this).val().split("/")[2]));
        jQuery(this).parents("td").find(".date_select select:first").next().val(parseInt(jQuery(this).val().split("/")[0]));
        jQuery(this).parents("td").find(".date_select select:first").next().next().val(parseInt(jQuery(this).val().split("/")[1]));
        jQuery("#registration_begins").datepicker("option", "maxDate", new Date(jQuery(this).val()));
        if(jQuery("#registration_deadline") > jQuery(this).val()){
          jQuery("#registration_deadline").datepicker("option", "maxDate", new Date(jQuery(this).val()));
        }
	jQuery("#end_date").datepicker("option", "minDate", new Date(jQuery(this).val()));
    });
    jQuery("#registration_begins").change(function () {
       jQuery(this).parents("td").find(".date_select select:first").val(parseInt(jQuery(this).val().split("/")[2]));
        jQuery(this).parents("td").find(".date_select select:first").next().val(parseInt(jQuery(this).val().split("/")[0]));
        jQuery(this).parents("td").find(".date_select select:first").next().next().val(parseInt(jQuery(this).val().split("/")[1]));
        jQuery("#registration_deadline").datepicker("option", "minDate", new Date(jQuery(this).val()));
        jQuery("#registration_deadline").datepicker("option", "maxDate", new Date(jQuery("#start_date").val()));
    });
    jQuery("#end_date").change(function () {
       jQuery(this).parents("td").find(".date_select select:first").val(parseInt(jQuery(this).val().split("/")[2]));
        jQuery(this).parents("td").find(".date_select select:first").next().val(parseInt(jQuery(this).val().split("/")[0]));
        jQuery(this).parents("td").find(".date_select select:first").next().next().val(parseInt(jQuery(this).val().split("/")[1]));
    });         
    jQuery("#registration_deadline").change(function () {
       jQuery(this).parents("td").find(".date_select select:first").val(parseInt(jQuery(this).val().split("/")[2]));
        jQuery(this).parents("td").find(".date_select select:first").next().val(parseInt(jQuery(this).val().split("/")[0]));
        jQuery(this).parents("td").find(".date_select select:first").next().next().val(parseInt(jQuery(this).val().split("/")[1]));
    })

    jQuery("#type").find("select").change(function() {
      if(jQuery(this).find("option:selected").text() == "eCourse"){
        jQuery("#country").find("select").val(1);
        jQuery("#specific_location").hide();
      }else{
        jQuery("#specific_location").show();
      }
    });

    jQuery("#country").find("select").change(function() {
      if(jQuery(this).find("option:selected").text() == "USA"){
        jQuery("#us_states").show();
      } else {
        jQuery("#us_states").hide();
      }
    });
  });
</script>
<div class="contentlearning-profile clearfix">
<%if ((params[:action]=='new')||(params[:action]=='create'))%>
  <h1>Create Listing</h1>
<% else %>
  <h1>Edit Listing</h1>
<% end %>
</div>

<div class="criteria-gallery ui-widget-content clearfix">
<%= form_for(@offering, :html => {:multipart => true}) do |f| %>
  <% if @offering.errors.any? %>
    <div id="flash_error" class="error_messages">
      <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>
      <ul>
        <% @offering.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </ul>
    </div>
  <% end %>
<br />
  <% if current_admin%>
    <div class="field">
      <%= f.label :validated %><br />
      <%= f.check_box :validated %>
    </div>
    <div class="field">
      <%= f.label :note %><br />
      <%= f.text_area :note %>
    </div>
<hr />
<br />
  <% end %>
 <table>
    <%=content_tag(:tr, content_tag(:td, f.label(:title, "Title*")) << content_tag(:td, f.text_field( :title, :size => 20))) %>
    <%=content_tag(:tr, content_tag(:td, f.label(:plan, "Plan*")) << content_tag(:td, collection_select(:offering, :plan_id, @plans, :id, :name)))%>
    <%=content_tag(:tr, content_tag(:td, f.label(:type, "Type of Listing*")) << content_tag(:td, collection_select(:offering, :type_id, @types, :id, :category), :id =>"type")) %>
    <%=content_tag(:tr, content_tag(:td, f.label(:topics, "Topics*"))<< content_tag(:td, list_topics(@topics, @offering))) %>
</table>

<br />
<hr />
 <table>
    <%=content_tag(:tr, content_tag(:td, f.label(:country, "Country*")) << content_tag(:td, grouped_collection_select(:offering, :location_id, @regions, :locations, :name, :id, :state, :prompt => true)), :id=>"country") %>
    <%=content_tag(:tr, content_tag(:td, f.label(:us_state, "US State")) << content_tag(:td, f.select( :us_state, [ 	
	['Select a State', 'None'],
	['Alabama', 'AL'], 
	['Alaska', 'AK'],
	['Arizona', 'AZ'],
	['Arkansas', 'AR'], 
	['California', 'CA'], 
	['Colorado', 'CO'], 
	['Connecticut', 'CT'], 
	['Delaware', 'DE'], 
	['District Of Columbia', 'DC'], 
	['Florida', 'FL'],
	['Georgia', 'GA'],
	['Hawaii', 'HI'], 
	['Idaho', 'ID'], 
	['Illinois', 'IL'], 
	['Indiana', 'IN'], 
	['Iowa', 'IA'], 
	['Kansas', 'KS'], 
	['Kentucky', 'KY'], 
	['Louisiana', 'LA'], 
	['Maine', 'ME'], 
	['Maryland', 'MD'], 
	['Massachusetts', 'MA'], 
	['Michigan', 'MI'], 
	['Minnesota', 'MN'],
	['Mississippi', 'MS'], 
	['Missouri', 'MO'], 
	['Montana', 'MT'], 
	['Nebraska', 'NE'], 
	['Nevada', 'NV'], 
	['New Hampshire', 'NH'], 
	['New Jersey', 'NJ'], 
	['New Mexico', 'NM'], 
	['New York', 'NY'], 
	['North Carolina', 'NC'], 
	['North Dakota', 'ND'], 
	['Ohio', 'OH'], 
	['Oklahoma', 'OK'], 
	['Oregon', 'OR'], 
	['Pennsylvania', 'PA'], 
	['Rhode Island', 'RI'], 
	['South Carolina', 'SC'], 
	['South Dakota', 'SD'], 
	['Tennessee', 'TN'], 
	['Texas', 'TX'], 
	['Utah', 'UT'], 
	['Vermont', 'VT'], 
	['Virginia', 'VA'], 
	['Washington', 'WA'], 
	['West Virginia', 'WV'], 
	['Wisconsin', 'WI'], 
	['Wyoming', 'WY']])), :id => "us_states")%>
    <%=content_tag(:tr, content_tag(:td, f.label(:specific_location)) << content_tag(:td, f.text_field(:specific_location)), :id=> 'specific_location') %>
</table>
<hr />
<br />
 <div id="date">
 <table>
    <%= date_input_for(f, @offering, @offering.registration_begins, :registration_begins, "Registration Begins*")%>
    <%= date_input_for(f, @offering, @offering.registration_deadline, :registration_deadline, "Registration Deadline")%>
    <%= date_input_for(f, @offering, @offering.start_date, :start_date, "Start Date*")%>
    <%= date_input_for(f, @offering, @offering.end_date, :end_date, "End Date*")%>
 </table>
 <br />
 </div>

<hr />
<br />
<table>
    <%=content_tag(:tr, content_tag(:td, f.label(:link, "Listing website*")) << content_tag(:td, f.text_field(:link))) %>
    <%=content_tag(:tr, content_tag(:td, f.label(:description, "Listing description*")) << content_tag(:td, f.text_area( :description, :rows => 3) << "<div class='count'> </div>".html_safe)) %>
</table>
<br />
<hr />
<br />
  <div>
    <%= f.label :registered_artist_ids, "Registered contributing instructors" %><br /><i>Hold control on Windows or command on Mac to select multiple artists</i><br />

    <%= f.collection_select :registered_artist_ids,
        @artists, :id, :list_name, {},
        :multiple => true,
        :size => 10,
        :name => 'offering[registered_artist_ids][]' %>
  </div>
<br />
  <div class="field">
    <%= f.label :unregistered_artists, "Unregistered contributing instructors (Comma separated)" %><br />
    <%= f.text_area :unregistered_artists, :cols => 60, :rows => 5 %>
  </div>
<hr />
<br />

 <table>
    <%=content_tag(:tr, content_tag(:td) << (content_tag(:td, image_tag( @offering.picture_main.url(:thumb))) if @offering.picture_main.exists?)) %>
    <%=content_tag(:tr, content_tag(:td, f.label(:picture_main, "Main Picture")) << content_tag(:td, f.file_field(:picture_main))) %>

    <%=content_tag(:tr, content_tag(:td) << (content_tag(:td, image_tag( @offering.picture_footer_left.url(:thumb))) if @offering.picture_footer_left.exists?)) %>
    <%=content_tag(:tr, content_tag(:td, f.label(:picture_footer_left, "Left Footer Picture")) << content_tag(:td, f.file_field(:picture_footer_left)))%>

    <%=content_tag(:tr, content_tag(:td) << (content_tag(:td, image_tag( @offering.picture_footer_right.url(:thumb))) if @offering.picture_footer_right.exists?)) %>
    <%=content_tag(:tr, content_tag(:td, f.label(:picture_footer_right, "Right Footer Picture")) << content_tag(:td, f.file_field(:picture_footer_right))) %>
</table>

<hr />
<br />
<%if @offering.new_record?%>
  <div id="acceptance">
    <%= f.check_box(:terms_of_use) %>I agree with the conditions of creating an account with Seek Your Course as specified by the Terms of Use.
  </div>
<hr />
<br />
<% end %>
  <div class="actions">
    <div class="ui-button-container">
     <p><%if params[:action] == "edit"%>
      <%= f.submit "Update Listing",  :onclick => "return confirm('Your listing will be pending until further administrator revision.')", :class=>"ui-button"  %>
    <% else%>
      <%=f.submit "Create Listing",  :onclick => "return alert('Your listing will be pending until further administrator revision.')", :class=>"ui-button" %>
    <%end%></p>
   </div>
  </div>

<% end %>
</div>
<%= render :partial => 'users/user_admin' %>

