<div class="learning-results clearfix">
   	 <!--
   <h1>RESULTS</h1>
      -->
  
          <% @offerings.each do |@offering| %>
             <%= render :partial => @offering %>
          <% end %>

<div class="syc_pagination">
  <%= will_paginate @offerings, :container => false %>
  <div class="page_info">
    <%= "(#{@offerings.size.to_s} Listings)" unless params[:coordinated] %>
  </div>
</div>
</div>


<% if current_user %>
  <%= render :partial => 'users/user_admin' %>
<%else%>

  <%= render :partial => 'offerings/filter_results' %>
  <%= render :partial => 'offerings/browse' %>
<% end %>

