<div class="single-result">
  <p id="notice"><%= notice %></p>
    <% if offering.picture_main.exists? then %>
      <%= link_to(image_tag( @offering.picture_main.url(:snippet)), offering_path(offering)<<".js", :rel =>"content-480-400", :class => "pirobox_gall result-img") %>
    <% end %>
  <h5>
    <%= artists_for_offering(@offering) %>
    <%=link_to offering.title, offering_path(offering) %>
  </h5>

  <% if offering.validated == false %>
    <p>
      <strong>Validated:</strong>
      <%= offering.validated %>
    </p>
    <% if current_admin %>
  
      <p>
        <strong>Note:</strong>
        <%= offering.note %>
      </p>
    <% end %>
  <% end %>
	<p>
    <strong>Offered by: </strong>
		<% if offering.coordinator.role == User::ROLES[0] %>
			<%= link_to offering.coordinator.name, offering.coordinator %> 
		<% else %>
			<%= link_to offering.coordinator.institution_name, offering.coordinator %> 
		<% end %>
		
	</p>
	<p>
    <strong>Starts: </strong>
    <%= offering.start_date.strftime('%B %e, %Y') %> | 

    <%if offering.type.category == "eCourse"%>
      <strong>Location:</strong>
      <%= "Online" %>
    <% else %>
      <strong>Location:</strong> 
      <%= offering.specific_location %>, 
      <%if (offering.location.state == "USA") %>
       <%= offering.us_state %>,
      <% end %> 
      <%= offering.location.state %>,
      <%= offering.location.region.name %>
   <% end %>
		<br />
   	<strong>Topics: </strong>
  	 <%= show_topics_for(@offering) %>
		<br />
	</p>
  <% if current_admin || (offering.coordinator == current_user) %>
<br />
    <p><%= link_to 'Edit Listing', edit_offering_path(offering), :class => "ui-button left" %>     <%= button_to 'Delete Listing', offering_path(offering), :method => "delete",  :onclick => "return confirm('Are you sure you want to delete this listing?')", :class => "ui-button left", :style => "font-size:.85em; display:inline;" %></p>
<div class="clearfix"></div>
  <% end %>
  <br />
  <hr />
</div>
