
<%= will_paginate @offerings %>
<%= page_entries_info @offerings %>

<% @offerings.each do |@offering| %>
  <%= render :partial => @offering %>
<% end %>
<br />

<%= will_paginate @offerings %>
<%= page_entries_info @offerings %>

<% content_for :filter_results do %>
  <h2> Filter Results </h2>
   <h3>Topic</h3>
    <%@topics.each do |topic| %>
      <%= link_to topic.category, (request.path + "?topic=" +topic.id.to_s) %>
    <% end %>
   <h3>Type</h3>
    <%@types.each do |type| %>
      <%= link_to type.category, (request.path + "?type=" +type.id.to_s) %>
    <% end %>
<% end %>
