<div id="offering">
  <p id="notice"><%= notice %></p>
  <div id="snippet_picture">
    <% if offering.picture_main.exists? then %>
      <span class="right"><%= image_tag @offering.picture_main.url(:snippet) %></span>
    <% end %>
  </div>
  <h5>
    <%= artists_for_offering(@offering) %>
    <%=link_to offering.title, offering_path(offering) %>
  </h5>

  <% if offering.validated == false %>
    <p>
      <b>Validated:</b>
      <%= offering.validated %>
    </p>
    <% if current_admin %>
  
      <p>
        <b>Note:</b>
        <%= offering.note %>
      </p>
    <% end %>
  <% end %>

    <b>Starts: </b>
    <%= offering.start_date.strftime('%B %e, %Y') %> | 

    <%if offering.type.category == "E-course"%>
      <b>Location:</b>
      <%= "Online" %>
    <% else %>
      <b>Location:</b>
      <%= offering.specific_location %>, 
      <%unless offering.us_state.nil? %>
       <%= offering.us_state %>,
      <% end %> 
      <%= offering.location.state %>,
      <%= offering.location.region.name %>
   <% end %>
   <br />
   <b>Topics: </b>
   <%= show_topics_for(@offering) %>
<br />

  <% if current_admin || (offering.coordinator == current_user) %>
    <%= link_to 'Edit', edit_offering_path(offering) %>
  <% end %>
  <hr />
</div>
