<div id="offering">
  <p id="notice"><%= notice %></p>
  <h4>
    <%=link_to offering.title, offering_path(offering) %> | 
    <%= link_to offering.type.category, type_path(offering.type) %>
  </h4>
  <% if offering.validated == false %>
    <p>
      <b>Validated:</b>
      <%= offering.validated %>
    </p>

    <p>
      <b>Note:</b>
      <%= offering.note %>
    </p>
  <% end %>

  <p>
    <b>Location:</b>
    <%= offering.specific_location %>, 
    <%= offering.location.state %>,
    <%= offering.location.region.name %>
  </p>

  <p>
    <b>Registration begins:</b>
    <%= offering.registration_begins %> |
    <b>Start date:</b>
    <%= offering.start_date %> | 
    <b>End date:</b>
    <%= offering.end_date %>
  </p>

  <p>
    <b><%=offering.coordinator.role.humanize%>:</b>
    <%= offering.coordinator.username %>
  </p>

  <p>
    <b>Contributing artists:</b>
    <% offering.registered_artists.each do |user| %>
      <%= link_to(user.name, user_path(user)) %>,
    <% end %>
    <%= offering.unregistered_artists %>
  </p>

  <% if current_admin || (offering.coordinator == current_user) %>
    <%= link_to 'Edit', edit_offering_path(offering) %> |
  <% end %>
  <hr />
</div>
