<%title @title %>
<ul>
  <% for offering in @offerings %>
    <li>
      <%=h offering.title %> | 
      <%=h offering.location.state %> | 
      <%=h offering.specific_location %> | 
      <%=h offering.registration_begins %> | 
      <%=h offering.registration_deadline %>
      <  
      <%= link_to "Show", offering %> |
      <%= link_to "Edit", edit_offering_path(offering) %> | 
      <%= link_to "Destroy", offering, :confirm => 'Are you sure?', :method => :delete %>
      >
    </li>
  <% end %>

<p><%= link_to "Back", :back %></p>
<p><%= link_to "New Offering", new_offering_path %></p>
