<% title "Offering" %>

<p>
  <strong>Title:</strong>
  <%=h @offering.title %>
</p>
<p>
  <strong>Type:</strong>
  <%=h @offering.type.category %>
</p>
<p>
  <strong>Topic/Medium(s):</strong>
  |
  <%for topic in @offering.topics do%>
    <%=h "#{topic.category} | " %>
  <%end%>
</p>
<p>
  <strong>State:</strong>
  <%=h @offering.state %>
</p>
<p>
  <strong>Location:</strong>
  <%=h @offering.location %>
</p>
<p>
  <strong>Registration Begins:</strong>
  <%=h @offering.registration_begins %>
</p>
<p>
  <strong>Registration Deadline:</strong>
  <%=h @offering.registration_deadline %>
</p>
<p>
  <strong>Link:</strong>
  <%=h @offering.link %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @offering.description %>
</p>

<p>
  <%= link_to "Edit", edit_offering_path(@offering) %> |
  <%= link_to "Destroy", @offering, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", offerings_path %>
</p>
