<% title @offering.title%>
<script type="text/javascript">

</script>

<div class="criteria-gallery clearfix">

  <% if @offering.type.category == "eCourse" %>
    <%= render :partial => "e-course"%>
  <% else %>
    <%= render :partial => "conf-ret"%>
  <% end %>

    <p><strong>Starts</strong>: <%= @offering.start_date.strftime('%B %d, %Y') %> - 
    <%= distance_of_time_in_words_to_now(@offering.start_date)%> until start date. <br />
      <strong>Ends</strong>: <%= @offering.end_date.strftime('%B %d, %Y') %><br />
      <strong>Registration Begins</strong>: <%= @offering.registration_begins.strftime('%B %d, %Y') %><br />
     <%unless @offering.registration_deadline.nil? %>
        <strong>Registration Deadline:</strong>
        <%= @offering.registration_deadline.strftime('%B %d, %Y') %>
    <%end%> </p>

    <p><strong>Description</strong>:<br />
      <%= @offering.description%>
     </p>
    <p><strong>More Information</strong>: <%=link_to url_with_protocol(@offering.link), url_with_protocol(@offering.link), :target => "_blank"%></p>

<div class="clearfix"></div>
<% if @offering.picture_footer_left.exists? then %>
    <%= link_to(image_tag(@offering.picture_footer_left.url(:thumb)), @offering.picture_footer_left.url, :rel =>"gallery", :class => "pirobox_gall listingphotos2-3") %>
  <% end %>
  <% if @offering.picture_footer_right.exists? then %>
    <%= link_to(image_tag(@offering.picture_footer_right.url(:thumb)), @offering.picture_footer_right.url, :rel =>"gallery", :class => "pirobox_gall listingphotos2-3") %>
  <% end %>

<div class="clearfix"></div>
  <% if current_admin || (current_user == @offering.coordinator) %>
    <p><%= link_to 'Edit Listing', edit_offering_path(@offering), :class => "ui-button left" %>     <%= button_to 'Delete Listing', offering_path(@offering), :method => "delete",  :onclick => "return confirm('Are you sure you want to delete this listing?')", :class => "ui-button left", :style => "font-size:.85em; display:inline;" %></p>
  <% end %>
</div>
<% if current_user %>
  <%= render :partial => 'users/user_admin' %>
<%else%>
  <%= render :partial => 'browse' %>
<% end %>
