<% title "Offering" %>

<p>
  <strong>Title:</strong>
  <%=h @offering.title %>
</p>
<p>
  <strong>Type:</strong>
  <%=h @offering.type.category %>
</p>
<p>
  <strong>Topic/Medium(s):</strong>
  |
  <%for topic in @offering.topics do%>
    <%=h "#{topic.category} | " %>
  <%end%>
</p>
<p>
  <strong>Region:</strong>
  <%=h @offering.region.name %>
</p>
<p>
  <strong>Location:</strong>
  <%=h @offering.location.state%>
</p>
<p>
<%if @offering.location.us_location%> 
    <strong>US City:</strong>
<%else%>
    <strong>non-US location:</strong>
<%end%>
    <%=h @offering.specific_location %>
<p>
<p>
  <strong>Artists:</strong>
  <%for artist in @offering.registered_artists do%>
    <%=h artist.to_label + ", "%>
  <%end%>
   <%= @offering.unregistered_artists %>
</p>
  <strong>Course Begins:</strong>
  <%=h @offering.start_date%>
</p>
<p>
  <strong>Registration Begins:</strong>
  <%=h @offering.registration_begins %>
</p>
<p>
  <strong>Registration Deadline:</strong>
  <%=h @offering.registration_deadline %>
</p>
<p>
  <strong>Link:</strong>
  <%=h @offering.link %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @offering.description %>
</p>
<p><b>Coordinator:</b> <%=@offering.coordinator.last_name%>, <%=@offering.coordinator.first_name%></p>
<p><b>E-mail:</b> <%=@offering.coordinator.email%></p>

<p>
  <%= link_to "Back", :back %> |
  <%= link_to "Edit", edit_offering_path(@offering) %> |
  <%= link_to "Destroy", @offering, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", offerings_path %>
</p>
