<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      body { width: 600px; margin: 0px auto; }
      p {    margin-left:20px; 
             font-family:Arial,Helvetica,sans-serif;} 
      .clear {clear: both; } 
      #ads   { width: 300px; float:right;}
      a img {border: 0px white;}
    </style>
  </head>
  <body>
    <%= link_to(image_tag(attachments['seekyourcourse.png'].url),  root_url)%>
    <div class="clear"></div>

    <h1>To Seek Your Course user, <%= @user.name %>.</h1>
    <p>
      We have received a request to change your password. If you did not request this, please send us an email to <a class="buttons-top" href="mailto:info@seekyourcourse.com">info@seekyourcourse.com</a>.
    </p>
		<p>
			Your new password is: <%=@password_string %> 
		</p>
    <p>
      To login to the site, just follow this link: <%= login_url %>.<br />
      You can login using <%= @user.username %> or <%= @user.email %>.
    </p>
    <p>Let us know if you have any questions.</p>
    <p>Jess Greene<br />
    Creator of Seek Your Course</p>
    <div id="ads">
      <%= link_to(image_tag(attachments['twitter.png'].url), "http://twitter.com/#!/seekyourcourse") %>
      <%= link_to(image_tag(attachments['facebook.png'].url), "http://www.facebook.com/seekyourcourse") %>
    </div>
  </body>
</html>
