<% form_for @topic do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :offering %><br />
    <%= f.text_field :offering %>
  </p>
  <p><%= f.submit %></p>
<% end %>
