<% title "Topics" %>

  <% for topic in @topics %>
    <ul>
      <li><%=h topic.category %></li>
      <%= link_to "Show", topic %>
      <%= link_to "Edit", edit_topic_path(topic) %>
      <%= link_to "Destroy", topic, :confirm => 'Are you sure?', :method => :delete %>
      <ul><% for offering in topic.offerings do %>
        <li><%= offering.title %>, <%=offering.type.category %></li>
      <% end %>
    </ul></ul>
  <% end %>

<p><%= link_to "New Topic", new_topic_path %></p>
