<% title "Topic" %>

<p>
  <strong>Category:</strong>
  <%=h @topic.category %>
</p>
<p>
  <strong>Offering:</strong>
  <%=h @topic.offering %>
</p>

<p>
  <%= link_to "Edit", edit_topic_path(@topic) %> |
  <%= link_to "Destroy", @topic, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", topics_path %>
</p>
