<% title "Topic" %>

<h2>
  <strong>Category:</strong>
  <%=h @topic.category %>
</h2>
<% for offering in @topic.offerings %>
  <p>
    <strong>Offering:</strong>
    <%=h offering.title %>
    <strong>Type:</strong>
    <%=h offering.type.category %>
    <strong>Link:</strong>
    <%=h offering.link %>
  </p>
<%end%>

<p>
  <%= link_to "Back", :back %> |
  <%= link_to "Edit", edit_topic_path(@topic) %> |
  <%= link_to "Destroy", @topic, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", topics_path %>
</p>
