<% title "Topic" %>

<h2>
  <strong>Category:</strong>
  <%=h @topic.category %>
  <%= image_tag @topic.image.url %>
  <%= image_tag @topic.image.url(:medium) %>
  <%= image_tag @topic.image.url(:thumb) %>

</h2>
<% for offering in @topic.offerings %>
  <p>
    <strong>Offering:</strong>
    <%=h offering.title %>
    <strong>Type:</strong>
    <%=h offering.type.category %>
    <strong>Link:</strong>
    <%=h offering.link %>
  </p>
<%end%>

<p>
  <%= link_to "Back", :back %> |
  <%= link_to "View All", topics_path %>
  <%if current_admin %>    
    <%= link_to "Edit", edit_topic_path(@topic) %> |
    <%= link_to "Destroy", @topic, :confirm => 'Are you sure?', :method => :delete %> |
  <%end%>
</p>
