
<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @type.category %>
</p>

<%= render :partial => 'offerings/offerings_list' %>

<% if current_admin %>
  <%= link_to 'Edit', edit_type_path(@type) %> |
<% end %>
<%= link_to 'Back', types_path %>
