<% title "Type" %>

<p>
  <strong>Category:</strong>
  <%=h @type.category %>
</p>
<%for offering in @type.offerings %>
  <p>
    <strong>Offering:</strong>
    <%=h offering.title %>
    <strong>Location:</strong>
    <%=h offering.location %>
  </p>
<%end%>

<p>
  <%= link_to "Back", :back %> |
  <%= link_to "View All", types_path %>
  <% if current_admin %>
    <%= link_to "Edit", edit_type_path(@type) %> |
    <%= link_to "Destroy", @type, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
</p>
