<% title "Instructors" %>

<table>
  <tr>
    <th>Name</th>
    <th>Offering</th>
  </tr>
  <% for instructor in @instructors %>
    <tr>
      <td><%=h instructor.name %></td>
      <td><%=h instructor.offering %></td>
      <td><%= link_to "Show", instructor %></td>
      <td><%= link_to "Edit", edit_instructor_path(instructor) %></td>
      <td><%= link_to "Destroy", instructor, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Instructor", new_instructor_path %></p>
