<script>
  jQuery(document).ready( function(){
    if(jQuery('.role').find("select").val() == "instructor"){
        jQuery(".institution_name").hide();
      } else {
        jQuery(".institution_name").show();
     }
     if(jQuery(".twitter_inexistant").attr("checked")){
        jQuery(".twitter").hide();
     } else {
       jQuery(".twitter").show();
     }
     
     if(jQuery(".facebook_inexistant").attr("checked")){
        jQuery(".facebook").hide();
     } else {
       jQuery(".facebook").show();
     }
     

    jQuery(".role").find("select").change(function() {
      if(jQuery(this).val() == "instructor"){
        jQuery(".institution_name").hide();
      } else {
        jQuery(".institution_name").show();
      }
     });

    jQuery(".facebook_inexistant").click(function() {
      
      if(jQuery(this).attr("checked")){
        jQuery(".facebook").hide();
      } else {
        jQuery(".facebook").show();
      }
      
    });
    jQuery(".twitter_inexistant").click(function() {
      
      if(jQuery(this).attr("checked")){
        jQuery(".twitter").hide();
      } else {
        jQuery(".twitter").show();
      }
      
    });

  });
</script>

<div class="contentlearning-profile clearfix ui-widget-content">
<%if params[:action]=='new'%>
  <h5>Already have an account? <%= link_to "Log in", login_path, :class=>'ui-button' %></h5><br/>
<% end %>

<%= form_for( @user, :html => {:multipart => true}) do |f| %>

  <%= f.error_messages %>

<h4>Please enter the required (*) information</h4>
   <hr />
<br />
   <table>
    <%=content_tag(:tr, content_tag(:td, f.label(:first_name, "First name*")) << content_tag(:td, f.text_field( :first_name, :size => 20))) %>
    <%=content_tag(:tr, content_tag(:td, f.label(:last_name, "Last Name*")) << content_tag(:td, f.text_field( :last_name, :size => 20)))%>
    <%=content_tag(:tr, content_tag(:td, f.label(:username, "Username*")) << content_tag(:td, f.text_field( :username))) %>
    <%=content_tag(:tr, content_tag(:td, f.label(:email, "E-mail*")) << content_tag(:td, f.email_field( :email))) %>
</table>
<hr />
<br />
<table>
    <%=content_tag(:tr, content_tag(:td, f.label(:role, "Role* (Please choose one)")) << content_tag(:td, f.collection_select( :role, User::ROLES, :to_s, :humanize), :class => 'role')) %>
    <%=content_tag(:tr, content_tag(:td, f.label(:institution_name, "Name of Retreat/Conference*")) << content_tag(:td, f.text_field( :institution_name)), :class =>"institution_name") %>
</table>
<hr />
<br />
<table>
    <%= f.fields_for :location do |o| %>

      <%=content_tag(:tr, content_tag(:td, o.label(:adress_line_1, "Address Line 1*")) << content_tag(:td, o.text_field( :address_line_1, :value => @user.location[:address_line_1]))) %>
      <%=content_tag(:tr, content_tag(:td, o.label(:address_line_2, "Address Line 2")) << content_tag(:td, o.text_field( :address_line_2, :value => @user.location[:address_line_2]))) %>
      <%=content_tag(:tr, content_tag(:td, o.label(:postal_code, "Postal Code*")) << content_tag(:td, o.text_field( :postal_code, :value => @user.location[:postal_code]))) %>
      <%=content_tag(:tr, content_tag(:td, o.label(:country, "Country*")) << content_tag(:td, f.collection_select(:country, Location::COUNTRIES, :to_s, :to_s, :prompt => true ))) %>
      <%=content_tag(:tr, content_tag(:td, o.label(:phone_number, "Phone Number*")) << content_tag(:td, o.text_field( :phone_number, :value => @user.location[:phone_number]))) %>

  <% end %>
</table>
<hr />
<br />
<table>
    <%= f.fields_for :websites do |o| %>

      <%=content_tag(:tr, content_tag(:td, o.label(:website, "Website*")) << content_tag(:td, o.text_field( :website, :value => @user.websites[:website]))) %>

      <%=content_tag(:tr, content_tag(:td, o.label(:facebook)) << content_tag(:td, f.text_field( :facebook, :value => @user.facebook)), :class => 'facebook') %>
      <%=content_tag(:tr, content_tag(:td, o.label(:facebook_inexistant?, "I don't have a facebook account")) << content_tag(:td, o.check_box( :facebook_inexistant?, {:checked => (@user.websites[:facebook] == ""), :class => "facebook_inexistant"}, "true", "false"))) %>
      <%=content_tag(:tr, content_tag(:td, o.label(:twitter)) << content_tag(:td, o.text_field( :twitter, :value => @user.websites[:twitter])), :class => 'twitter') %>
      <%=content_tag(:tr, content_tag(:td, o.label(:twitter_inexistant?, "I don't have a twitter account")) << content_tag(:td, o.check_box( :twitter_inexistant?, {:checked => (@user.websites[:twitter] == ""), :class => "twitter_inexistant"}, "true", "false"))) %>
      <%=content_tag(:tr, content_tag(:td, o.label(:flickr, "Flickr")) << content_tag(:td, o.text_field( :flickr, :value => @user.websites[:flickr]))) %>
      <%=content_tag(:tr, content_tag(:td, o.label(:blog, "Blog RSS Feed URL")) << content_tag(:td, o.text_field( :blog, :value => @user.websites[:blog]))) %>
  <% end %>

</table>
<hr />
<br />
<table>
  <%=content_tag(:tr, content_tag(:td, f.label(:password)) << content_tag(:td, f.password_field( :password))) %>
  <%=content_tag(:tr, content_tag(:td, f.label(:password_confirmation)) << content_tag(:td, f.password_field( :password_confirmation))) %>
  </table>

<hr />
<br />
<%if @user.new_record?%>
  <div id="acceptance">
    <%= f.check_box(:terms_of_use) %>I agree with the conditions of creating an account with Seek Your Course as specified by the Terms of Use.
  </div>
<% end %>
   <div class="ui-button-container"><p><%= f.submit((@user.new_record? ? "Sign up" : "Update"), :class=>'ui-button' )%></p></div>
<% end %>
</div>
