<%= form_for( @user, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  </p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
   
   <%= f.fields_for :profile do |profile| %>
      
   <% unless @user.profile.nil? %>
     <%=render :partial => 'profiles/form_attributes', :locals => {:profile => profile} %>
   <% end %>
    
  <% end %>


  <p><%= f.submit (@user.new_record? ? "Sign up" : "Update") %></p>
<% end %>
