<%title "Profiles" %>
<div class="learning-results clearfix">

<% @users.each do |@user| %>
  <div class="grid-gallery">
  <%unless @user.profile.nil? %>
    <%=link_to image_tag(@user.profile.picture.url(:thumb)), user_path(@user) %>
  <%end%>
    <%=link_to @user.name, user_path(@user) %>
  </div>
<%end%>

<br />
<div class="clearfix"></div>

<div class="syc_pagination">
  <%= will_paginate @users, :container => false %>
  <div class="page_info">
      <%= "("<< User.where("role = ?", params[:role]).size.to_s << " Results)" %> 
  </div>
</div>
</div>
<%= content_for(:span, render(:partial => 'offerings/browse')) %>
