
<div class="learning-results clearfix">
<%= will_paginate @users %>
<%= page_entries_info @users %><br />

<% @users.each do |@user| %>
  <div class="grid-gallery">
  <%unless @user.profile.nil? %>
    <%=link_to image_tag(@user.profile.picture.url(:thumb)), user_path(@user) %>
  <%end%>
    <%=link_to @user.name, user_path(@user) %>
  </div>
<%end%>

<br />
<div class="clearfix"></div>
<%= will_paginate @users %>
<%= page_entries_info @users %>
</div>
