<%title( @name = @user.name) %>
<div class="contentlearning-profile clearfix">
 <%= content_tag(:span, render(:partial => "user_info")) if current_admin %>
</div>  
 <%if (@user.profile.nil?) %>
    <%= link_to ('Create a profile here', new_profiles_path, :class=>"ui-button") if current_user == @user%>
    <%= content_tag(:p, @name << " still does not have a profile") %>
  <% else %> 
    <%= render :partial => "profiles/profile", :locals => {:profile => @user.profile} %>
  <% end %>

<%= content_for(:span, render(:partial => 'users/user_admin')) if current_user %>
<%= content_for(:span, render(:partial => 'users/browse')) if !current_user %>

