<%if @user.role == User::ROLES[0]%>
<%title( @name = @user.name) %>
<% else %>
<%title( @name = @user.institution_name) %>
<% end %>
<%= content_tag(:div, render(:partial => "user_info"), :class => "contentlearning-profile clearfix") if current_admin %>
 <%if (@user.profile.nil?) %>
    <div style="width:200px;margin:0px auto;">
      <%= content_tag(:div, content_tag(:p, 'No Profile Created'), :style=>'width:150px;margin:0px auto;') if current_user == @user%>
      <%= content_tag(:div, content_tag(:p, link_to ('Create a profile', new_profiles_path, :class=>"ui-button")), :class=>"ui-button-container") if current_user == @user%>
      <%= content_tag(:p, @name << " still does not have a profile", :style =>"text-align:center;") if current_user != @user%>
    </div>
  <% else %> 
    <%= render :partial => "profiles/profile", :locals => {:profile => @user.profile} %>
  <% end %>

<%= content_for(:span, render(:partial => 'users/user_admin')) if current_user %>
<%= content_for(:span, render(:partial => 'users/browse')) if !current_user %>

