
  <% form_for @search, :url=>"search/results" do |f| %>
  <p> 
      <label for="offering_title">Search</label> 
      <input id="offering_title" name="offering[title]" size="30" type="text" /> 
  </p>
  
  <p>
    <label for="offering_Type">Type</label><br />
    <% @types.each do |type| -%>
      <%= check_box_tag "offering[type_ids][]", type.id-%> 
      <%= type.category -%>
    <% end -%>
  </p>
  
  <p>
    <label for="offering_Topic/Medium">Topic/Medium*</label><br />
    <% @topics.each do |topic| -%>
      <%= check_box_tag "offering[topic_ids][]", topic.id -%> 
      <%= topic.category -%>
    <% end -%>
  </p>
  
  <%= f.submit "Search"%>
  <%end%>
  