<%title "Offerings by Region" %>

Hi
<div id="map">
	<div class="northAmerica"></div>
	<div class="southAmerica"></div>
	<div class="europe"></div>
	<div class="oceania"></div>
	<div class="asia"></div>
	<div class="africa"></div>
</div>

<% @regions.each do |region| %>
    <% if region.name == "Online" %>
      <%= link_to "Online", type_path(Type.where("category = ?", "eCourse").first) %>
    <% else %>
      <%= link_to region.name, region_locations_path(region) %>
    <% end %>

    <% if current_admin %>
      | <%= link_to 'Edit', edit_region_path(region) %>
      | <%= link_to 'Destroy', region, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    <br />
<% end %>

<br />

<% if current_admin %>
  <%= link_to 'New Region', new_region_path %>
<% end %>

<%= render :partial => 'offerings/browse' %>
