<%title "Offerings by Region" %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%= link_to region.name, region_locations_path(region) %></td>

    <% if current_admin %>
      <td><%= link_to 'Edit', edit_region_path(region) %></td>
      <td><%= link_to 'Destroy', region, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', root_url %>
<% if current_admin %>
  <%= link_to 'New Region', new_region_path %>
<% end %>
