<% title "Log in" %>

<div class="clearfix ui-widget-content contentlearning-profile ">

<div class="signup right">
  <h4>Don't have an account?</h4><br/> 
   <div class="ui-button-container"><p><%= link_to "Sign up!", signup_path, :class=>"ui-button" %></p></div>
</div>

<div class="login left">
<h4>Login</h4>
<%= form_for @user_session do |f| %>
 <% if @user_session.errors.any? %>
    <div id="flash_error" class="error_messages">
      <ul>
        <% @user_session.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </ul>
    </div>
  <% end %>  <p>
    <%= f.label "E-mail / Username" %><br />
    <%= f.text_field :username, :size => 20 %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, :size => 20 %>
  </p>
  <div class="ui-button-container"><p><%= f.submit "Log in!", :class => "ui-button" %></p></div>
<% end %>
</div>
</div>

<%= render :partial => "users/registration_info" %>
