<% title "Log in" %>

<div class="contentlearning-profile clearfix">
<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<%= form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "E-mail / Username" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Log in", :class => "ui-button" %></p>
<% end %>
</div>

<%= render :partial => "users/registration_info" %>
