<%title "Offerings by Location" %>

<table>
  <tr>
    <th>State</th>
    <th>Region</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.state %></td>
    <td><%= location.region_id %></td>
    <td><%= link_to 'Show', location %></td>
    <% if current_admin %>
      <td><%= link_to 'Edit', edit_location_path(location) %></td>
      <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<% if current_admin %>
  <%= link_to 'New Location', new_location_path %>
<% end %>
