                
<div id="" class="container_12">

<div id="" class="grid_12 ">

<div id="nav-top" class="clearfix">
        <% if logged_in? %>
          <span class='buttons-top'>Welcome, <%= current_user.name %>.</span>
          <%= link_to "Manage your listings", user_path(current_user), :class => "buttons-top" %> 
          <%= link_to "Log out", logout_path, :class => "buttons-top" %>
        <% else %>
          <%= link_to "Sign up", signup_path, :class => "buttons-top" %>
          <%= link_to "Log in", login_path, :class => "buttons-top" %>
        <% end %>
      <% if admin_logged_in? %>
        <div id="admin_nav">
          <%= link_to "View Pending Offerings", pending_offerings_path, :class => "buttons-top" %>
          <%= link_to "Ads", ads_path, :class => "buttons-top" %>
        </div>
      <% end %>

        <%= link_to "Advertise", root_url, :class => "buttons-top"%>
        <%= link_to "Contact", root_url, :class => "buttons-top"%>
        <%= link_to "About", root_url, :class => "buttons-top"%>
</div>

</div>

</div>

