                
<div id="" class="container_12">

<div id="" class="grid_12 ">

<div id="nav-top" class="clearfix">
        <% if logged_in? %>
          <%= link_to "Manage your listings", manage_home_path, :class => "buttons-top" %> 
          <%= link_to "Log out", logout_path, :class => "buttons-top" %>
        <% else %>
          <%= link_to "Sign up", signup_path, :class => "buttons-top" %>
          <%= link_to "Log in", login_path, :class => "buttons-top" %>
        <% end %>
      <% if admin_logged_in? %>
        <div id="admin_nav">
          <%= link_to "View Pending Offerings", pending_offerings_path, :class => "buttons-top" %>
          <%= link_to "Ads", ads_path, :class => "buttons-top" %>
        </div>
      <% end %>

        <%= link_to "Advertise", ads_index_url, :class => "buttons-top"%>
	<a href="http://eepurl.com/dX4_z" class="buttons-top">Join Mailing List </a>        
	<%= mail_to "info@seekyourcourse.com", "Contact",  :class => "buttons-top"%>
        <%= link_to "About", about_index_url, :class => "buttons-top"%>
        <%= content_tag(:span, "Welcome #{current_user.name}", :class=>"buttons-top") if logged_in?%>
</div>

</div>

</div>

