     <div id="user_nav">
        <% if logged_in? %>
          Logged in as <%= current_user.username %>.
        <% end %>
        <%= link_to "About", root_url%>
        <%= link_to "Contact", root_url%>
        <%= link_to "Advertise", root_url%>
        <% if logged_in? %>
          <%= link_to "Manage your listings", user_path(current_user) %> 
          <%= link_to "Log out", logout_path %>
        <% else %>
          <%= link_to "Sign up", signup_path %>
          <%= link_to "Log in", login_path %>
        <% end %>
      </div>
      <% if admin_logged_in? %>
        <div id="admin_nav">
          <%= link_to "View Pending Offerings", pending_offerings_path %>
        </div>
      <% end %>

